<figure class="wp-block-table">
	<table>
		<tbody>
			<tr>
				<td>Tabel</td>
				<td>Tabel</td>
				<td>Tabel</td>
				<td>Tabel</td>
			</tr>
			<tr>
				<td>Info</td>
				<td>Info</td>
				<td>Info</td>
				<td>Info</td>
			</tr>
			<tr>
				<td>Info</td>
				<td>Info</td>
				<td>Info</td>
				<td>Info</td>
			</tr>
			<tr>
				<td>Info</td>
				<td>Info</td>
				<td>Info</td>
				<td>Info</td>
			</tr>
			<tr>
				<td>Info</td>
				<td>Info</td>
				<td>Info</td>
				<td>Info</td>
			</tr>
		</tbody>
	</table>
</figure>
