<div class="card-list card-list--3">
	<div class="card">
		<a href="#" class="card__inner" aria-labelledby="card-title">
			<div class="card__header">
				<div class="card__image-wrapper">
					<img class="card__image" src="https://picsum.photos/702/395" alt="Image alt text" />
				</div>
			</div>
			<div class="card__content">
				<div class="card__metadata metadata">
					<span class="card__label metadata__label">Metadata</span>
					<time class="card__date metadata__date" datetime="2022-09-28">28. September 2022</time>
				</div>
				<h3 id="card-title" class="card__title">Suspendisse pulvinar augue ac venenatis</h3>
				<p class="card__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vivamus laoreet. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Suspendisse potenti. Vestibulum eu odio. Nam commodo suscipit quam.</p>
				<span id="card-cta" class="card__cta btn" aria-labelledby="card-cta card-title">Read more</span>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="#" class="card__inner" aria-labelledby="card-title">
			<div class="card__header">
				<div class="card__image-wrapper">
					<img class="card__image" src="https://picsum.photos/702/395" alt="Image alt text" />
				</div>
			</div>
			<div class="card__content">
				<div class="card__metadata metadata">
					<span class="card__label metadata__label">Metadata</span>
					<time class="card__date metadata__date" datetime="2022-09-28">28. September 2022</time>
				</div>
				<h3 id="card-title" class="card__title">Suspendisse pulvinar augue ac venenatis</h3>
				<p class="card__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vivamus laoreet. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Suspendisse potenti. Vestibulum eu odio. Nam commodo suscipit quam.</p>
				<span id="card-cta" class="card__cta btn" aria-labelledby="card-cta card-title">Read more</span>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="#" class="card__inner" aria-labelledby="card-title">
			<div class="card__header">
				<div class="card__image-wrapper">
					<img class="card__image" src="https://picsum.photos/702/395" alt="Image alt text" />
				</div>
			</div>
			<div class="card__content">
				<div class="card__metadata metadata">
					<span class="card__label metadata__label">Metadata</span>
					<time class="card__date metadata__date" datetime="2022-09-28">28. September 2022</time>
				</div>
				<h3 id="card-title" class="card__title">Suspendisse pulvinar augue ac venenatis</h3>
				<p class="card__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vivamus laoreet. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Suspendisse potenti. Vestibulum eu odio. Nam commodo suscipit quam.</p>
				<span id="card-cta" class="card__cta btn" aria-labelledby="card-cta card-title">Read more</span>
			</div>
		</a>
	</div>
</div>
