@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-Thin.eot');
	src:
		url('../fonts/Barlow/Barlow-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-Thin.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-Thin.woff') format('woff'),
		url('../fonts/Barlow/Barlow-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-ThinItalic.eot');
	src:
		url('../fonts/Barlow/Barlow-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-ThinItalic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-ThinItalic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-ExtraLight.eot');
	src:
		url('../fonts/Barlow/Barlow-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-ExtraLight.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-ExtraLight.woff') format('woff'),
		url('../fonts/Barlow/Barlow-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-ExtraLightItalic.eot');
	src:
		url('../fonts/Barlow/Barlow-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-ExtraLightItalic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-ExtraLightItalic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-Light.eot');
	src:
		url('../fonts/Barlow/Barlow-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-Light.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-Light.woff') format('woff'),
		url('../fonts/Barlow/Barlow-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-LightItalic.eot');
	src:
		url('../fonts/Barlow/Barlow-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-LightItalic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-LightItalic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-Regular.eot');
	src:
		url('../fonts/Barlow/Barlow-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-Regular.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-Regular.woff') format('woff'),
		url('../fonts/Barlow/Barlow-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-Italic.eot');
	src:
		url('../fonts/Barlow/Barlow-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-Italic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-Italic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-Medium.eot');
	src:
		url('../fonts/Barlow/Barlow-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-Medium.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-Medium.woff') format('woff'),
		url('../fonts/Barlow/Barlow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-MediumItalic.eot');
	src:
		url('../fonts/Barlow/Barlow-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-MediumItalic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-MediumItalic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-SemiBold.eot');
	src:
		url('../fonts/Barlow/Barlow-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-SemiBold.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-SemiBold.woff') format('woff'),
		url('../fonts/Barlow/Barlow-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-SemiBoldItalic.eot');
	src:
		url('../fonts/Barlow/Barlow-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-SemiBoldItalic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-Bold.eot');
	src:
		url('../fonts/Barlow/Barlow-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-Bold.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-Bold.woff') format('woff'),
		url('../fonts/Barlow/Barlow-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-BoldItalic.eot');
	src:
		url('../fonts/Barlow/Barlow-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-BoldItalic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-BoldItalic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-ExtraBold.eot');
	src:
		url('../fonts/Barlow/Barlow-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-ExtraBold.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-ExtraBold.woff') format('woff'),
		url('../fonts/Barlow/Barlow-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-ExtraBoldItalic.eot');
	src:
		url('../fonts/Barlow/Barlow-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-ExtraBoldItalic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-Black.eot');
	src:
		url('../fonts/Barlow/Barlow-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-Black.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-Black.woff') format('woff'),
		url('../fonts/Barlow/Barlow-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow/Barlow-BlackItalic.eot');
	src:
		url('../fonts/Barlow/Barlow-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barlow/Barlow-BlackItalic.woff2') format('woff2'),
		url('../fonts/Barlow/Barlow-BlackItalic.woff') format('woff'),
		url('../fonts/Barlow/Barlow-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
