<span class="icon-printer"></span>
<span class="icon-facebook"></span>
<span class="icon-instagram"></span>
<span class="icon-twitter"></span>
<span class="icon-youtube"></span>
<span class="icon-linkedin"></span>
<span class="icon-alert-circle"></span>
<span class="icon-alert-triangle"></span>
<span class="icon-align-center"></span>
<span class="icon-align-justify"></span>
<span class="icon-align-left"></span>
<span class="icon-align-right"></span>
<span class="icon-archive"></span>
<span class="icon-arrow-down"></span>
<span class="icon-arrow-down-circle"></span>
<span class="icon-arrow-down-left"></span>
<span class="icon-arrow-down-right"></span>
<span class="icon-arrow-left"></span>
<span class="icon-arrow-left-circle"></span>
<span class="icon-arrow-right"></span>
<span class="icon-arrow-right-circle"></span>
<span class="icon-arrow-up"></span>
<span class="icon-arrow-up-circle"></span>
<span class="icon-arrow-up-left"></span>
<span class="icon-arrow-up-right"></span>
<span class="icon-at-sign"></span>
<span class="icon-camera"></span>
<span class="icon-check"></span>
<span class="icon-check-circle"></span>
<span class="icon-check-square"></span>
<span class="icon-chevron-down"></span>
<span class="icon-chevron-left"></span>
<span class="icon-chevron-right"></span>
<span class="icon-chevron-up"></span>
<span class="icon-chevrons-down"></span>
<span class="icon-chevrons-left"></span>
<span class="icon-chevrons-right"></span>
<span class="icon-chevrons-up"></span>
<span class="icon-clock"></span>
<span class="icon-download"></span>
<span class="icon-edit"></span>
<span class="icon-external-link"></span>
<span class="icon-eye"></span>
<span class="icon-eye-off"></span>
<span class="icon-fast-forward"></span>
<span class="icon-file"></span>
<span class="icon-filter"></span>
<span class="icon-folder"></span>
<span class="icon-frown"></span>
<span class="icon-gift"></span>
<span class="icon-globe"></span>
<span class="icon-hash"></span>
<span class="icon-headphones"></span>
<span class="icon-heart"></span>
<span class="icon-help-circle"></span>
<span class="icon-home"></span>
<span class="icon-image"></span>
<span class="icon-info"></span>
<span class="icon-link"></span>
<span class="icon-link-2"></span>
<span class="icon-list"></span>
<span class="icon-loader"></span>
<span class="icon-lock"></span>
<span class="icon-log-in"></span>
<span class="icon-log-out"></span>
<span class="icon-mail"></span>
<span class="icon-map"></span>
<span class="icon-map-pin"></span>
<span class="icon-maximize"></span>
<span class="icon-maximize-2"></span>
<span class="icon-meh"></span>
<span class="icon-menu"></span>
<span class="icon-message-circle"></span>
<span class="icon-message-square"></span>
<span class="icon-mic"></span>
<span class="icon-mic-off"></span>
<span class="icon-minimize"></span>
<span class="icon-minimize-2"></span>
<span class="icon-minus"></span>
<span class="icon-minus-circle"></span>
<span class="icon-minus-square"></span>
<span class="icon-more-horizontal"></span>
<span class="icon-more-vertical"></span>
<span class="icon-mouse-pointer"></span>
<span class="icon-music"></span>
<span class="icon-navigation"></span>
<span class="icon-paperclip"></span>
<span class="icon-pause"></span>
<span class="icon-phone"></span>
<span class="icon-play"></span>
<span class="icon-play-circle"></span>
<span class="icon-plus"></span>
<span class="icon-plus-circle"></span>
<span class="icon-plus-square"></span>
<span class="icon-power"></span>
<span class="icon-printer1"></span>
<span class="icon-refresh-ccw"></span>
<span class="icon-rewind"></span>
<span class="icon-rotate-ccw"></span>
<span class="icon-rotate-cw"></span>
<span class="icon-rss"></span>
<span class="icon-save"></span>
<span class="icon-scissors"></span>
<span class="icon-search"></span>
<span class="icon-settings"></span>
<span class="icon-share-2"></span>
<span class="icon-shopping-bag"></span>
<span class="icon-shopping-cart"></span>
<span class="icon-skip-back"></span>
<span class="icon-skip-forward"></span>
<span class="icon-sliders"></span>
<span class="icon-smile"></span>
<span class="icon-star"></span>
<span class="icon-sun"></span>
<span class="icon-terminal"></span>
<span class="icon-thumbs-down"></span>
<span class="icon-thumbs-up"></span>
<span class="icon-tool"></span>
<span class="icon-trash"></span>
<span class="icon-trash-2"></span>
<span class="icon-trending-down"></span>
<span class="icon-trending-up"></span>
<span class="icon-unlock"></span>
<span class="icon-upload"></span>
<span class="icon-user"></span>
<span class="icon-users"></span>
<span class="icon-volume"></span>
<span class="icon-volume-1"></span>
<span class="icon-volume-2"></span>
<span class="icon-volume-x"></span>
<span class="icon-watch"></span>
<span class="icon-wifi"></span>
<span class="icon-wifi-off"></span>
<span class="icon-x"></span>
<span class="icon-x-circle"></span>
<span class="icon-x-square"></span>
<span class="icon-zoom-in"></span>

<br />
<br />
<a href="/wp-content/themes/pelican/assets/src/fonts/icon-font/demo.html" target="_blank">Icomoon icon overview</a>
