@font-face {
	font-family: icon-font;
	src:
		url('../fonts/icon-font/fonts/icon-font.ttf?vyrxfj') format('truetype'),
		url('../fonts/icon-font/fonts/icon-font.woff?vyrxfj') format('woff'),
		url('../fonts/icon-font/fonts/icon-font.svg?vyrxfj#icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
