@use '../mixins/selector-placeholders';

.error404 {
	.post-wrapper {
		@include selector-placeholders.container-content-selector-placeholder;

		margin-top: var(--wp--preset--spacing--100);
		margin-bottom: var(--wp--preset--spacing--100);
	}

	.post-header__title {
		margin-top: 0;
		margin-bottom: var(--wp--preset--spacing--40);
	}

	.not-found-message {
		text-align: center;
		padding: 0;
	}

	.search-form {
		margin-top: var(--wp--preset--spacing--40);
		margin-bottom: var(--wp--preset--spacing--40);
	}
}
