@use '../mixins/layout';

.card__inner {
	background-color: #fff;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-card);
	overflow: hidden;
}

a.card__inner {
	display: block;
	color: inherit;
	text-decoration: none;
	transition: box-shadow var(--transition-card);

	&:hover {
		box-shadow: var(--shadow-card-hover);
		opacity: 1;
	}
}

.card__image-wrapper {
	position: relative;
	overflow: hidden;
}

.card__image {
	backface-visibility: hidden;
	transform: scale(1.01);
	transition: transform var(--transition-card);
	width: 100%;
}

a.card__inner:hover .card__image {
	transform: scale(1.05);
}

.card__content {
	padding: var(--wp--preset--spacing--20);

	@media (--large-up) {
		padding: var(--wp--preset--spacing--30);
	}
}

.card__metadata {
	font: var(--font-label);
}

.card__label {
	text-transform: uppercase;
	font-weight: var(--font-weight-bold);
	margin-right: var(--wp--preset--spacing--10);
}

.card__title {
	font: var(--font-h5);
	margin: var(--wp--preset--spacing--10) 0 0;
}

.card__text {
	font-size: var(--font-paragraph);
	margin: var(--wp--preset--spacing--10) 0 0;
}

.card__cta {
	display: inline-block;
	margin: var(--wp--preset--spacing--20) 0 0;
}

.card--individual-links {
	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			opacity: 1;
		}
	}

	.card__image-invisible-link {
		@include layout.coverer;
	}

	.card__image-wrapper:hover .card__image {
		transform: scale(1.05);
	}

	.card__metadata a:hover,
	.card__title a:hover,
	.card__cta a:hover {
		text-decoration: underline;
	}
}
