@use '../helpers/functions/rem';
@use '../mixins/grid';
@use '../mixins/selector-placeholders';

.site-footer {
	background-color: var(--wp--preset--color--green-1);
	color: var(--wp--preset--color--white);

	&__inner {
		@include selector-placeholders.container-selector-placeholder;
		@include grid.grid;

		/* stylelint-disable no-duplicate-selectors */
		& {
			grid-template-columns: 1fr;
			padding-top: var(--wp--preset--spacing--40);
			padding-bottom: var(--wp--preset--spacing--40);
		}
		/* stylelint-enable no-duplicate-selectors */

		@media (--medium-up) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (--large-up) {
			grid-template-columns: repeat(4, 1fr);
			padding-top: var(--wp--preset--spacing--100);
			padding-bottom: var(--wp--preset--spacing--100);
		}
	}

	a {
		color: currentColor;
	}

	.widget {
		width: 100%;

		.wp-block-group__inner-container > *:last-child {
			margin-bottom: 0;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			display: block;
			margin-bottom: var(--wp--preset--spacing--10);

			&:last-child {
				margin: 0;
			}
		}

		.widgettitle,
		h2 {
			color: inherit;
			font-size: var(--font-size-s);
			font-weight: var(--font-weight-bold);
			margin-top: 0;
			margin-bottom: var(--wp--preset--spacing--20);
		}

		.socialmedia {
			gap: rem.px-to-rem(12);

			.socialmedia__icon-link {
				color: inherit;
				text-decoration: none;

				&:hover {
					opacity: 1;
				}
			}

			.socialmedia__icon {
				display: block;
				background-color: transparent;
				border: rem.px-to-rem(1) solid var(--wp--preset--color--white);
				border-radius: rem.px-to-rem(50);
				color: var(--wp--preset--color--white);
				padding: rem.px-to-rem(10);
				transition: all var(--transition-1);
			}

			.socialmedia__icon-link:hover .socialmedia__icon {
				background-color: var(--wp--preset--color--white);
				color: var(--wp--preset--color--green-1);
			}

			.socialmedia__icon::before {
				font-size: rem.px-to-rem(16);
			}
		}
	}
}
