@use '../helpers/functions/rem';

figure.wp-block-video,
figure.wp-block-embed {
	margin-top: var(--wp--preset--spacing--40);
	margin-bottom: var(--wp--preset--spacing--40);

	figcaption {
		color: var(--color-text);
		font-size: var(--font-size-s);
		margin: rem.px-to-rem(8) 0 0;
		padding: 0;
		text-align: center;
	}
}

figure.is-type-video {
	.wp-block-embed__wrapper {
		aspect-ratio: 16 / 9;
	}

	iframe {
		height: 100%;
		width: 100%;
	}
}

iframe {
	display: block;
	border: none;
	margin-top: var(--wp--preset--spacing--40);
	margin-bottom: var(--wp--preset--spacing--40);
	width: 100%;
}
