@use '../helpers/functions/rem';

.nav-mobile {
	position: absolute;
	overflow: auto;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	transition: transform var(--transition-base);
	-webkit-overflow-scrolling: touch;
	border-top: var(--border);
	transform: translateY(-100%);

	@media (--large-up) {
		display: none;
	}
}

.nav-mobile.nav-mobile--open {
	transform: translateY(0);
}

.nav-mobile-inner {
	display: flex;
	flex-direction: column;
}

.menu-mobile {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: var(--line-height-heading);

	@media (--large-up) {
		display: none;
	}
}

.menu-mobile ul,
.menu-mobile ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu-mobile__link {
	display: block;
	padding: var(--wp--preset--spacing--20);
	color: var(--color-text);
	border-bottom: var(--border);
	font-size: rem.px-to-rem(19);
	padding-right: var(--wp--preset--spacing--40);
}

.menu-mobile__sub-menu__link {
	display: block;
	padding: var(--wp--preset--spacing--20);
	padding-left: var(--wp--preset--spacing--30);
	background-color: var(--color-gray-1);
	border-bottom: var(--border);
	font-size: rem.px-to-rem(17);
	text-decoration: none;
}

.menu-mobile__sub-menu {
	display: none;
}

.menu-mobile__item--current-ancestor .menu-mobile__sub-menu {
	display: block;
}

.menu-mobile__item--has-children {
	position: relative;
}

.menu-mobile__item--has-children::before,
.menu-mobile__item--has-children::after {
	content: '';
	position: absolute;
	width: rem.px-to-rem(10);
	height: rem.px-to-rem(2);
	background-color: var(--color-text);
	top: rem.px-to-rem(30);
	pointer-events: none;
	transition: transform 0.15s;
}

.menu-mobile__item--has-children::before {
	transform: rotate(-45deg);
	right: rem.px-to-rem(22);
}

.menu-mobile__item--has-children::after {
	transform: rotate(45deg);
	right: rem.px-to-rem(28);
}

.menu-mobile__item--has-children.menu-mobile__item--has-children--is-active::before {
	transform: rotate(45deg);
}

.menu-mobile__item--has-children.menu-mobile__item--has-children--is-active::after {
	transform: rotate(-45deg);
}

.menu-mobile__item--current {
	.menu-mobile__sub-menu__link {
		color: var(--wp--preset--color--green-1);
	}
}

.menu-mobile__item--current,
.menu-mobile__item--current-ancestor,
.menu-mobile--inverted .menu-mobile__item--current,
.menu-mobile--inverted .menu-mobile__item--current-ancestor {
	.menu-mobile__link {
		color: var(--wp--preset--color--green-1);
	}
}
