@use '../helpers/functions/rem';
@use '../mixins/selector-placeholders';

.hero {
	position: relative;
	display: flex;
	align-items: center;
	min-height: rem.px-to-rem(200);
	padding-top: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--40);
	width: 100%;

	&.hero--has-bottom-spacing {
		margin-bottom: var(--wp--preset--spacing--40);

		@media (--medium-up) {
			margin-bottom: var(--wp--preset--spacing--60);
		}
	}
}

.hero.hero--with-image {
	min-height: rem.px-to-rem(350);

	@media (--medium-up) {
		min-height: rem.px-to-rem(500);
	}

	@media (--large-up) {
		min-height: rem.px-to-rem(700);
	}
}

.hero__text-wrap {
	@include selector-placeholders.container-selector-placeholder;
}

.hero__text-wrap-inner {
	max-width: var(--max-width-content-wide);
}

.hero__text-wrap--with-image {
	color: var(--color-text-light);
	z-index: 1;

	.hero__title {
		color: var(--color-text-light);
	}
}

.hero__title {
	font-size: var(--font-size-hero-title);
	margin: 0;
	max-width: 100%;
	width: 100%;
}

.hero__formatted-title strong {
	font-weight: var(--font-weight-bold);
}

.hero__subtitle {
	font-size: var(--font-size-hero-subtitle);
	margin: var(--wp--preset--spacing--10) 0 0;
	width: 100%;
}

.hero__link-wrapper {
	margin-top: var(--wp--preset--spacing--20);
	width: 100%;
}

.hero__image-wrap {
	position: absolute;
	inset: 0;
}

.hero__picture {
	position: absolute;
	inset: 0;
}

.hero__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.hero--image-dimming-25 .hero__image-wrap::after,
.hero--image-dimming-50 .hero__image-wrap::after,
.hero--image-dimming-75 .hero__image-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	pointer-events: none;
}

.hero--image-dimming-25 .hero__image-wrap::after {
	background: rgba(0, 0, 0, 0.25);
}

.hero--image-dimming-50 .hero__image-wrap::after {
	background: rgba(0, 0, 0, 0.5);
}

.hero--image-dimming-75 .hero__image-wrap::after {
	background: rgba(0, 0, 0, 0.75);
}
