@use '../helpers/functions/rem';

.label-wrapper {
	margin-bottom: var(--wp--preset--spacing--10);
}

a.label {
	background-color: transparent;
	border: rem.px-to-rem(1) solid var(--wp--preset--color--green-1);
	border-radius: rem.px-to-rem(50);
	color: var(--wp--preset--color--green-1);
	display: inline-block;
	font: var(--font-label);
	margin: 0;
	padding: rem.px-to-rem(10) rem.px-to-rem(15);
	text-decoration: none;
	text-transform: uppercase;
	transition: all var(--transition-base);
}

a.label:hover {
	background-color: var(--wp--preset--color--green-1);
	color: #fff;
	opacity: 1;
}
