@use '../helpers/functions/rem';

#peytz-mail {
	width: var(--max-width-content);
	max-width: 100%;
	margin: 0 auto;

	.form__button {
		background-color: var(--wp--preset--color--green-1);
		color: #fff;
		border: none;
		border-radius: rem.px-to-rem(5);
		padding: rem.px-to-rem(15) var(--wp--preset--spacing--20);
		text-decoration: none;
		transition: all var(--transition-base);
		font-size: rem.px-to-rem(18);
		font-weight: var(--font-weight-medium);

		&:hover {
			cursor: pointer;
			opacity: 0.95;
		}
	}
}
