<div class="pagination">
	<nav class="navigation pagination" aria-label="Indlæg">
		<h2 class="screen-reader-text">Navigation til indlæg</h2>
		<div class="nav-links">
			<a class="prev page-numbers" href="#"><span class="pagination__icon pagination__icon--prev icon-chevron-left"></span><span class="pagination__text pagination__text--prev">Previous</span></a>
			<a class="page-numbers" href="#">1</a>
			<span aria-current="page" class="page-numbers current">2</span>
			<a class="page-numbers" href="#">3</a>
			<span class="page-numbers dots">…</span>
			<a class="page-numbers" href="#">11</a>
			<a class="next page-numbers" href="#"><span class="pagination__text pagination__text--next">Next</span><span class="pagination__icon pagination__icon--next icon-chevron-right"></span></a>
		</div>
	</nav>
</div>
