@use '../../mixins/selector-placeholders';

.post-content {
	.has-background {
		padding: 0;
	}

	.alignwide {
		@include selector-placeholders.container-content-wide-selector-placeholder;
	}

	.alignfull {
		@include selector-placeholders.container-selector-placeholder;
	}
}

.pelican-blocks {
	max-width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;

	&.has-background-color {
		padding-top: var(--wp--preset--spacing--40);
		padding-bottom: var(--wp--preset--spacing--40);

		@media (--medium-up) {
			padding-top: var(--wp--preset--spacing--60);
			padding-bottom: var(--wp--preset--spacing--60);
		}
	}

	&.has-spacing-top {
		margin-top: var(--wp--preset--spacing--40);

		@media (--medium-up) {
			margin-top: var(--wp--preset--spacing--60);
		}
	}

	&.has-spacing-bottom {
		margin-bottom: var(--wp--preset--spacing--40);

		@media (--medium-up) {
			margin-bottom: var(--wp--preset--spacing--60);
		}
	}

	&__inner {
		@include selector-placeholders.container-selector-placeholder;
	}
}
